
$colors:(
    primary:(
        100: hsl(35, 22%, 11%),
        200: hsl(35, 22%, 21%),
        300: hsl(35, 22%, 31%),
        400: hsl(35, 22%, 41%),
        500: hsl(35, 22%, 51%),
        600: hsl(35, 22%, 61%),
        700: hsl(35, 22%, 71%),
        

    ),
   
    secondary:(
        100: hsl(32, 43%, 16%),
        200: hsl(32, 43%, 26%),
        300: hsl(32, 43%, 36%),
        400: hsl(32, 43%, 46%),
        500: hsl(32, 43%, 56%),
        600: hsl(32, 43%, 66%),
        700: hsl(32, 43%, 76%),


    ),
   
    accent:(
        100: hsl(31, 74%, 12%),
        200: hsl(31, 74%, 22%),
        300: hsl(31, 74%, 32%),
        400: hsl(31, 74%, 42%),
        500: hsl(31, 74%, 52%),
        600: hsl(31, 74%, 62%),
        700: hsl(31, 74%, 72%),
    ),
   
    neutral:(
        100: hsl(33, 6%, 18%),
        200: hsl(33, 6%, 28%),
        300: hsl(33, 6%, 38%),
        400: hsl(33, 6%, 48%),
        500: hsl(33, 6%, 58%),
        600: hsl(33, 6%, 68%),
        700: hsl(33, 6%, 78%),


    )
);

/*Utility Color Classes */
@each $color, $shades in $colors {
    
    /**#{$color} Colors**/
    @each $shade, $value in $shades {
        .txt_#{$color}_#{$shade} {
            color: $value;
        }

        .bg_#{$color}_#{$shade} {
            background-color: $value;
        }
    }
    /** End #{$color} Colors**/

}
/*End Utility Color Classes */
