@use './variables' as *;
@use './functions' as *;

@mixin flex-even{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}

@mixin pseudo( 
    $loc: before, 
    $content: '', 
    $pos: absolute,
    $top:0,
    $bottom:0,
    $left:0,
    $right:0
    ){
    position:relative;

    &::#{$loc}{
        content:$content;
        position:$pos;
        top:$top;
        bottom:$bottom;
        left:$left;
        right:$right;
        @content;
    }
}

@mixin hover-lift() {
    transition: $transition-base;
    


    @include pseudo($loc:before) {
        transition: $transition-base;
        box-shadow: .1rem .1rem .1rem rgba(white, .9);
        opacity: 0;
    }

    &:hover,
    &:focus {
        transform: scale(1.05);
        background-color: var(--clr-accent-600);
        cursor:pointer;

        h3 {
            color: var(--clr-primary-100);
        }

        p {
            color: var(--clr-primary-100);
        }

        &::before {
            opacity: 1;
        }
    }
}

@mixin section-Heading(
    $fs:var(--fs-700),
    $color:var(--clr-neutral-700),
    $text: capitalize
    ){
    font-size:$fs;
    color:$color;
    text-transform:$text
}

@mixin mediaQry($key) {
    $size: map-get($breakpoints, $key);

    @media only screen and (min-width:$size) {
        @content;
    }
}