/*****Resets****/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/*html {
    font-size: 62.5%;
}*/
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*****END RESETS****/
/*Utility Color Classes */
/**primary Colors**/
.txt_primary_100 {
  color: #221d16;
}

.bg_primary_100 {
  background-color: #221d16;
}

.txt_primary_200 {
  color: #41382a;
}

.bg_primary_200 {
  background-color: #41382a;
}

.txt_primary_300 {
  color: #60523e;
}

.bg_primary_300 {
  background-color: #60523e;
}

.txt_primary_400 {
  color: #806c52;
}

.bg_primary_400 {
  background-color: #806c52;
}

.txt_primary_500 {
  color: #9e8767;
}

.bg_primary_500 {
  background-color: #9e8767;
}

.txt_primary_600 {
  color: #b19f86;
}

.bg_primary_600 {
  background-color: #b19f86;
}

.txt_primary_700 {
  color: #c5b8a5;
}

.bg_primary_700 {
  background-color: #c5b8a5;
}

/** End primary Colors**/
/**secondary Colors**/
.txt_secondary_100 {
  color: #3a2a17;
}

.bg_secondary_100 {
  background-color: #3a2a17;
}

.txt_secondary_200 {
  color: #5f4426;
}

.bg_secondary_200 {
  background-color: #5f4426;
}

.txt_secondary_300 {
  color: #835e34;
}

.bg_secondary_300 {
  background-color: #835e34;
}

.txt_secondary_400 {
  color: #a87943;
}

.bg_secondary_400 {
  background-color: #a87943;
}

.txt_secondary_500 {
  color: #bf925f;
}

.bg_secondary_500 {
  background-color: #bf925f;
}

.txt_secondary_600 {
  color: #ceab83;
}

.bg_secondary_600 {
  background-color: #ceab83;
}

.txt_secondary_700 {
  color: #dcc4a7;
}

.bg_secondary_700 {
  background-color: #dcc4a7;
}

/** End secondary Colors**/
/**accent Colors**/
.txt_accent_100 {
  color: #351f08;
}

.bg_accent_100 {
  background-color: #351f08;
}

.txt_accent_200 {
  color: #62390f;
}

.bg_accent_200 {
  background-color: #62390f;
}

.txt_accent_300 {
  color: #8e5415;
}

.bg_accent_300 {
  background-color: #8e5415;
}

.txt_accent_400 {
  color: #ba6e1c;
}

.bg_accent_400 {
  background-color: #ba6e1c;
}

.txt_accent_500 {
  color: #df882a;
}

.bg_accent_500 {
  background-color: #df882a;
}

.txt_accent_600 {
  color: #e6a056;
}

.bg_accent_600 {
  background-color: #e6a056;
}

.txt_accent_700 {
  color: #ecb983;
}

.bg_accent_700 {
  background-color: #ecb983;
}

/** End accent Colors**/
/**neutral Colors**/
.txt_neutral_100 {
  color: #312e2b;
}

.bg_neutral_100 {
  background-color: #312e2b;
}

.txt_neutral_200 {
  color: #4c4843;
}

.bg_neutral_200 {
  background-color: #4c4843;
}

.txt_neutral_300 {
  color: #67615b;
}

.bg_neutral_300 {
  background-color: #67615b;
}

.txt_neutral_400 {
  color: #827b73;
}

.bg_neutral_400 {
  background-color: #827b73;
}

.txt_neutral_500 {
  color: #9a958d;
}

.bg_neutral_500 {
  background-color: #9a958d;
}

.txt_neutral_600 {
  color: #b2aea9;
}

.bg_neutral_600 {
  background-color: #b2aea9;
}

.txt_neutral_700 {
  color: #cac7c4;
}

.bg_neutral_700 {
  background-color: #cac7c4;
}

/** End neutral Colors**/
/*End Utility Color Classes */
/**Placeholders - Extends**/
.landing_btn, .btn, .btn-primary {
  padding: 0.5em 1.25em;
}

/**End Placeholders - Extends**/
/**##### ROOT #######**/
:root {
  /**Colors**/
  --clr-primary-100: #221d16;
  --clr-primary-200: #41382a;
  --clr-primary-300: #60523e;
  --clr-primary-400: #806c52;
  --clr-primary-500: #9e8767;
  --clr-primary-600: #b19f86;
  --clr-primary-700: #c5b8a5;
  --clr-secondary-100: #3a2a17;
  --clr-secondary-200: #5f4426;
  --clr-secondary-300: #835e34;
  --clr-secondary-400: #a87943;
  --clr-secondary-500: #bf925f;
  --clr-secondary-600: #ceab83;
  --clr-secondary-700: #dcc4a7;
  --clr-accent-100: #351f08;
  --clr-accent-200: #62390f;
  --clr-accent-300: #8e5415;
  --clr-accent-400: #ba6e1c;
  --clr-accent-500: #df882a;
  --clr-accent-600: #e6a056;
  --clr-accent-700: #ecb983;
  --clr-neutral-100: #312e2b;
  --clr-neutral-200: #4c4843;
  --clr-neutral-300: #67615b;
  --clr-neutral-400: #827b73;
  --clr-neutral-500: #9a958d;
  --clr-neutral-600: #b2aea9;
  --clr-neutral-700: #cac7c4;
  /**End Colors**/
  /**Type-Scale - Small**/
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.563rem;
  --fs-600: 1.953rem;
  --fs-700: 2.441rem;
  --fs-800: 3.052rem;
  /**Type-Scale - Small **/
}
@media only screen and (min-width: 65em) {
  :root {
    /**Type-Scale - Medium **/
    --fs-300: 1rem;
    --fs-400: 1.425rem;
    --fs-500: 2rem;
    --fs-600: 2.827rem;
    --fs-700: 4rem;
    --fs-800: 5.653rem;
    /**Type-Scale - Medium **/
  }
}

/**##### END ROOT #######**/
.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 125rem;
}

.grid {
  display: grid;
  grid-gap: 2rem;
}

/**Header**/
.header {
  display: grid;
  grid-template-columns: 5rem 0.5fr 1fr 1fr 0.5fr 5rem;
  width: 100%;
  align-content: center;
  position: fixed;
  z-index: 100;
  height: 5rem;
  /** Navigation - Top ***/
}
.header_logo {
  grid-column: 2;
  color: var(--clr-accent-700);
  font-size: var(--fs-600);
  font-family: "Niconne", cursive;
  font-weight: 900;
  text-transform: capitalize;
  text-align: center;
}
.header_logo_link {
  display: inline-block;
  width: 100%;
}
.header_logo_link:focus, .header_logo_link:hover {
  cursor: pointer;
}
.header .nav {
  grid-column: 4/5;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
}
.header .nav_icon {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  z-index: 10;
  width: 2.5rem;
  height: 3rem;
}
.header .nav_icon:hover, .header .nav_icon:focus {
  cursor: pointer;
}
.header .nav_icon .menu_line {
  width: 3rem;
  height: 0.1rem;
  background-color: var(--clr-sun-100);
}
.header .nav_icon .menu_line_1 {
  transition: all 0.3s ease-in-out;
}
.header .nav_icon .menu_line_2 {
  width: 2rem;
  transition: all 0.3s ease-in-out;
}
.header .nav_icon .menu_line_3 {
  width: 1rem;
  transition: all 0.3s ease-in-out;
}
.header .nav_list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 90%;
  border-left: solid 0.1rem #070606;
  border-right: solid 0.1rem #070606;
}
.header .nav_list_item {
  list-style: none;
}
.header .nav_list_item_link {
  font-size: var(--fs-100);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  position: relative;
  color: var(--clr-neutral-700);
  /*  &::after {
      content: "";
      width: 0;
      height: .1rem;
      background-color: var(--clr-accent-300);
      position: absolute;
      top: 3rem;
      right: -4rem;
      transition: $transition-cubic;
  }*/
}
.header .nav_list_item_link::before {
  content: "";
  width: 0;
  height: 0.2rem;
  background-color: var(--clr-accent-700);
  position: absolute;
  top: 120%;
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
}
.header .nav_list_item_link:hover {
  cursor: pointer;
}
.header .nav_list_item_link:hover::before, .header .nav_list_item_link:focus::before, .header .nav_list_item_link:hover::after, .header .nav_list_item_link:focus::before {
  width: 80%;
}
.header .search {
  grid-column: 4;
  text-align: center;
  color: var(--clr-neutral-700);
}

/**End Header**/
#section_heading {
  font-size: var(--fs-700);
  color: var(--clr-neutral-700);
  text-transform: capitalize;
}

/**
Using mix() will help control color lighten and darken better
**/
.landing {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.landing .img_container {
  width: 50%;
}
.landing .backImage {
  position: absolute;
  left: 50vw;
}
.landing .backImage img {
  height: 100vh;
}
.landing .frontImage {
  position: absolute;
  left: 43%;
  bottom: 10%;
  border-bottom: solid 0.2rem var(--clr-neutral-700);
  border-right: solid 0.2rem var(--clr-neutral-700);
}
.landing .frontImage img {
  width: 90vw;
  height: 90vh;
}
.landing #section_heading {
  z-index: 10;
  position: absolute;
  width: 20ch;
  left: 10vw;
  top: 30vh;
  letter-spacing: 0.2rem;
  font-family: "Poppins", sans-serif;
}
.landing_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8rem;
  position: absolute;
  left: 10vw;
  top: 53vh;
}
.landing_text p {
  width: 50ch;
}
.landing_btn {
  transition: transform 350ms ease-in-out;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2);
  position: relative;
  font-weight: 600;
  color: var(--clr-primary-200);
  background-color: var(--clr-accent-600);
  width: 10rem;
  text-align: center;
  border-bottom-left-radius: 3rem;
  border-bottom: solid 0.2rem var(--clr-neutral-700);
  border-left: solid 0.1rem var(--clr-primary-700);
  position: relative;
  font-family: "Poppins", sans-serif;
}
.landing_btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: transform 350ms ease-in-out;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.landing_btn:hover, .landing_btn:focus {
  transform: scale(1.05);
}
.landing_btn:hover::before, .landing_btn:focus::before {
  opacity: 1;
}

.btn {
  transition: transform 350ms ease-in-out;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2);
  position: relative;
  color: va(--clr-primary-100);
  background-color: var(--clr-accent-600);
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: transform 350ms ease-in-out;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.btn:hover, .btn:focus {
  transform: scale(1.05);
}
.btn:hover::before, .btn:focus::before {
  opacity: 1;
}

.btn-primary {
  color: white;
  background-color: red;
}

.card {
  position: relative;
  height: 2rem;
  width: 2rem;
  border: solid 2px blue;
  background-color: #ffcccc;
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*# sourceMappingURL=main.css.map */
