<div class="section_header">
    <h2 class="section_heading">
        @HeadingContent
    </h2>
    <p>
        @ParagraphContent
    </p>
</div>

@code{
    [Parameter]
    public string HeadingContent { get; set; }
    [Parameter]
    public string ParagraphContent { get; set; }
}