@page "/menu"
@page "/menu/search/{searchText}/{page:int}"
@page "/menu/{mealTypeUrl}"
@inject IMealTypeService MealTypeService
@inject IMenuItemService MenuItemService

<PageTitle>Hyssop</PageTitle>

@if (SearchText == null && MealTypeUrl == null)
{
	<FeaturedItem/> //ladng page goes here
}
else
{
	<MenuItems/>
}



@if (SearchText == null && MealTypeUrl == null)
{
	<section class="categories">

		

		<div class="category_grid_container">
			@foreach (MealType item in MealTypeService.MealTypes)
			{
				<div class="category_item grid_item">
					<a href="/@item.Url" class="gallery_link">
						<img src="@item.ImageUrl" alt="" />
						<h3 class="category_name">@item.Name</h3>
						<p class="description">
							Ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.
						</p>

					</a>

				</div>
			}
		</div>

	</section>

}






@code{
    private MealType? mealType = new MealType();
    private MenuItem? menuItem = new MenuItem();
    
    [Parameter]
    public string? MealTypeUrl { get; set; } = null;
    [Parameter]
    public string? SearchText { get; set; }
    [Parameter]
    public int Page { get; set; } = 1;

    protected override async Task OnParametersSetAsync()
    {
        if (SearchText != null)
        {
            await MenuItemService.SearchMenuItems(SearchText, Page);
        }
        else
        {
            await MenuItemService.GetMenuItems(MealTypeUrl);
        }
    }
}